body {
    font-family: Arial, sans-serif;
    background-color: rgba(173, 216, 230, 0.5); /* 기본 옅은 파란색 */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease; /* 배경색 전환 효과 */
}

.break-time-body {
    background-color: #ffefd5; /* 옅은 토마토 색상 (PeachPuff 색상) */
}

.container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 336px;
}

#timer {
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0;
}


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: #0056b3;
}

/* 서브 버튼 스타일 */
.sub-button {
    background-color: transparent;
    border: 1px solid #6c757d; 
    color: #6c757d;
    border-radius: 5px;
    cursor: pointer;
}

.sub-button:hover {
    background-color: #6c757d;
    color: white;
}

#task-action {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#task-input {
    width: 80%;
    height: 40px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

#add-task-button {
    width: 40px;
    height: 40px;
    background-color: #6c757d;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center; /* 텍스트 수평 중앙 정렬 */
    align-items: center; /* 텍스트 수직 중앙 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
}

/* 드래그 중인 요소 스타일 */
.sortable-ghost {
    opacity: 0.4;
    background-color: #cceeff;
}

#footer-text {
    margin-top: 20px; /* container와의 간격 설정 */
    text-align: center; /* 텍스트를 중앙에 배치 */
    font-size: 16px; /* 텍스트 크기 설정 */
    color: #333; /* 텍스트 색상 설정 */
}

#question-icon {
    position: absolute;
    top: 10px; /* 위쪽에서 10px 떨어진 위치에 배치 */
    right: 10px; /* 오른쪽에서 10px 떨어진 위치에 배치 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}